.content{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
}

.container{
	/*position: relative;*/
	max-width: 900px;
	width: 100%;
	border-radius: 6px;
	padding: 30px;
	margin: 95px 15px 15px 15px;/*ajustar*/
	background-color: white;
	box-shadow: 0 5px 10px;
}

.container header{
	font-size: 20px;
	font-weight: 600;
	color: black;
}
.container form{
	/*position: relative;*/
	min-height: 490px;
	margin-top: 16px;
	background-color: #f2f2f2;
}

.container form .assinatura_info{
	margin-top: 30px;

}

.container form .title{
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	margin-top: 6px 0;
	color: #333;
}


.container form .fields{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

form .fields .input-field{
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;
}

.input-field label{
	font-size: 12px;
	font-weight: 500;
	color: #2e2e2e;
}
.input-field input{
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 0 15px;
	height: 42px;
	margin: 8px 0;
}

.input-field input:focus,
.input-field input:valid {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"]{
	color: #707070;

}

.input-field input[type="date"]:valid{
	color: #333;

}