.content{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1E1929;
}

.container{
	/*position: relative;*/
	max-width: 900px;
	width: 100%;
	border-radius: 6px;
	padding: 30px;
	margin: 40px 15px 15px 15px;/*ajustar*/
	background-color: #E8E8E8;
	box-shadow: 0 5px 10px;
}

.container header{
	margin-top: 16px;
	font-size: 20px;
	font-weight: 600;
	color: #74AFC9;
}
.container form{
	/*position: relative;*/
	min-height: 400px;
	margin-top: 16px;
	background-color: #E8E8E8;
}

.container form .assinatura_info{
	margin-top: 30px;

}
 .container form .lembrete_info{
	margin-top: 30px;

}

.container form .title{
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	margin-top: 6px 0;
	color: #201b2c;
}


.container form .fields{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

form .fields .input-field{
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;
}

.input-field label{
	font-size: 12px;
	font-weight: 500;
	color: #2e2e2e;
}
.input-field input{
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #689CB3;
	padding: 0 15px;
	height: 42px;
	margin: 8px 0;
}

#ajuste label{
	color: #E8E8E8;
}
#ajuste input{
	background-color: #E8E8E8;
	color: #E8E8E8;
	border: none;
	box-shadow: none;
	user-select:none;
	cursor: default;
}
.input-field input:focus,
.input-field input:valid {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"]{
	color: #707070;

}

.input-field input[type="date"]:valid{
	color: #333;

}

.container form .button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 16px 0px;
	margin-top: 50px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	color: #2b134b;
	background: #73B0DE;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #4C6591;
}

@media (max-width: 940px){
	.container{
	max-width: 900px;
	width: 100%;
	padding: 15px;
	margin: 95px 15px 15px 15px;/*ajustar*/
}
}