
body{
	background-color: #E8E8E8;
}
.body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
	
}

.pesquisa{
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 1150px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container .card,
#nova_assinatura{
	/*position: relative*/
	padding: 10px;
	width: 300px;
	background-color: #fff;
	margin: 20px;
	border: 1px solid black;
	border-radius: 20px;
	overflow: hidden;
	transition: 0.5s;
	text-align: center;


}

.container #nova_assinatura{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
}

.container #nova_assinatura img{

	height: 100px;
	width: 100px;
	transition: 0.5s;
}

.container .card h1{
	font-size: 2rem;
}


.container .card p{
	font-size: 15px;
	color: #666;
	transition: 0.5s;
}

.container .card button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #000;
	color: #fff;
	border-radius: 40px;
	text-decoration: none;
	transition: 0.5s;
	outline: none;
	margin-top: 20px;
	border: none;
}

.container .card:hover,
#nova_assinatura:hover{
	background-color: #74AFC9;
	color: #fff;
	margin-top: -10px;
	box-shadow: 2px 20px 25px #74AFC95d;
	border-color: #74AFC9;
}

.container #nova_assinatura:hover img{
	filter: invert(1);
}

.container .card:hover p{
	color: white;
}

.container .card:hover button{
	color: black;
	background-color: white;
}

@media (max-width: 940px){
	.pesquisa{
		padding-top: 100px;
	}

	.container .card,{
	/*position: relative*/
	padding: 10px;
	width: 100px;
	background-color: #fff;
	margin: 20px;
	border: 1px solid black;
	border-radius: 20px;
	overflow: hidden;
	transition: 0.5s;
	text-align: center;


}