@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*Estrutura Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	min-height: 100vh;
	background-image: linear-gradient(170deg, #0F1B2C, #201b2c);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}

.div-logo {
	display: flex;
}

.logo {
	font-size: 2em;
	color: #fff;
	user-select:none;
	padding-right: 10px;
}

.navigation a {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

.navigation a::after {
	content: '';
	position: absolute;
	left: 0; /*alinha aos links*/
	bottom: -6px; /*localiza abaixo dos links*/
	width: 100%;
	height:3px;
	background: #fff;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0); /*tornando-o invisivel*/
	transition: transform .5s;
}

.navigation a:hover::after{
	transform-origin: left;
	transform: scaleX(1);
}

.main-content {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5%;
}

.left-content{
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.left-content h1{
	margin-top: 5%;
	box-sizing: border-box;
	font-size: 2.5vw;
	color: #fff;
}

.left-content-image{
	width: 25vw;
}

.rigth-content{
	width: 50vw; /*pega o tamanho da tela*/
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-left{
	width: 60%; /*pega o tamanho da div*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1% 0%;

}

.textfield{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	box-sizing: border-box;
	margin: 3%;
	padding: 5%;
}

.textfield ion-icon {
	color: #fff;
	font-size: 3em;
	margin-right: 10%;
}

.textfield p{
	color: #fff;
	font-size: 1.5em;
}

@media only screen and (max-width:950px){
		body{
			flex-direction: column;
		}

		header{
			padding: 20px 20px;
		}

		.logo{
			font-size: 1em;
			padding-right: 5px;
		}

		.main-content{
			width: 100vw;
			height: 80vh;
			margin-top: 10%;
			flex-direction: column;
		}

		.left-content-image{
			width: 35vw;
		}

		.card-left{
			width: 80%;
		}
		.textfield ion-icon {
			font-size: 2em;
			margin-right: 10%;
		}

		.textfield p{
			color: #fff;
			font-size: 1em;
		}
}


@media only screen and (max-width:600px){
	header{
			padding: 15px 5px;
		}
		.navigation a {
			font-size: 1em;
			margin-left: 5px;
		}

		.left-content h1{
		font-size: 5vw;
		color: #fff;
	}

	.main-content{
			flex-direction: column;
			margin-top: 20%;
		}
	.left-content-image{
			width: 55vw;
		}
}